<div class="wrapper fadeInDown">
    <div id="formContent">
        <!--Tabs Titulos-->
        <h2 class="active">Sign In</h2>
        <h2 class="inactive underlineHover">Sign up</h2>

        <!--ACA PONEMOS EL ICONO-->
        <div class="fadeIn First">
            <img src="" id="icon" alt="User Icon" />
        </div>

        <!---formulario login-->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!---Remind Password-->
        <div id="formFooter">
            <a class="underlineHover" href="#">Olvidaste tu contraseña?</a>
        </div>

    </div>
</div>